/node_modules
/public/hot
/public/js
/public/css
/public/fonts
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
.php_cs.cache
composer.lock
.env
.phpunit.result.cache
.htaccess
