/node_modules
/public/hot
/public/css
/public/fonts
/storage/*.key
/vendor
/.vscode
_ide_helper.php
_ide_helper_models.php
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
composer.lock
.htaccess
