includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app

    # The level 9 is the highest level
    level: 7

    checkMissingIterableValueType: false

    ignoreErrors:
        - '#^Property [a-zA-Z0-9\\_]+::\$user_id \(int\) does not accept int\|string\|null.$#'
