.link-custom {
  color: rgba(138, 180, 248, 1) !important;
  text-decoration: none !important;
  font-weight: 500 !important;
}

.link-custom:hover {
  color: rgb(150, 187, 247) !important;
  text-decoration: none !important;
  background: transparent !important;
}

.btn-custom {
  color: rgba(138, 180, 248, 1) !important;
  background-color: transparent !important;
  border: thin solid rgba(255, 255, 255, .3) !important;
  font-weight: 600 !important;
  text-transform: capitalize !important;
  letter-spacing: normal !important;
}

.btn-custom::before {
  border-radius: 0 !important;
}

.seperator-line {
  border-bottom: 1px solid rgba(255, 255, 255, .1) !important;
}

.v-progress-circular {
  margin-right: 1rem !important;
}
