/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.no-symbol,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
}

.portfolio {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}

.symbol {
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  background-color: #f4f7f9;
  border-radius: 0.3rem;
}

.action-link {
  cursor: pointer;
  margin-left: 1rem;
  color: #fff;
  border-color: #000000;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

.symbol {
  border-bottom: .05rem solid #e5e5e5;
}

.code {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
}

.no-symbol {
  margin: 3rem 0;
}
.no-symbol p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .no-symbol,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .symbol {
    border-bottom: 0;
  }

  .portfolio {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 2rem;
  }
}
